@media (max-width: 600px) {

  /* header layout */
  .app, .main-header, .header-top, .header-element, .header-bottom {
    display: flex;
  }
  .main-header {
    flex-direction: column;
  }
  #info-img, #user-img {
    width: 13vw;
  }
  #logo {
    width: 40vw;
    margin: 0 30px;
  }
  .header-top {
    width: 100vw;
    box-sizing: border-box;
    justify-content: space-around;
    
  }
  .header-element {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #007a8d;
    font-weight: bold;
    font-size: 16px;
  }
  .header-element label {
    margin: 5%;
  }
  .header-bottom {
    box-sizing: border-box;
    justify-content: space-between;
    width: 100vw;
    padding: 5px 25px;
    background-color: #18acc4;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
  }
}